*{
	font-family: 'Roboto', sans-serif;
}

.menu-footer{
	background: #ff9d76;
}

.logo{
	font-family: 'Lobster', sans-serif;
	font-weight: bold;
	font-size: 2rem;
}

.anclas{
	color: #ffffff;
}

.cabecera div img{
	width: 100%;
}

/*.espaciado-footer{
	padding: 100px;
}*/

.mistrabajos{
	max-width: 100%;
}

footer{
	color: #ffffff;
}

h1{
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
}

h2{
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
}

h3{
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
}

p{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}

ol.carousel-indicators li{
	background: #000000;
	border-radius: 50%;
}

.rrss{
	color: #ffffff;
}

.nombre-footer h3{
	font-family: 'Lobster', sans-serif;
	font-weight: bold;
	color: #ffffff;
	text-decoration: none;
}